// 命名規則：BEM
@charset 'utf-8';

$black: #000;

@mixin innerSize {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 16px;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  position: relative;
  .header-inner {
    height: 80px;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left {
      display: flex;
      align-items: center;
      @include innerSize;
      &__title {
        width: 100px;
        margin-right: 60px;
        line-height: 100%;
        a {
          display: block;
        }
      }
      &__nav {
        ul {
          display: flex;
          li {
            margin-right: 30px;
            list-style: none;
            &:last-child {
              margin-right: 0;
            }
            a {
              font-size: 0.875rem;
              color: $black;
              text-decoration: none;
            }
          }
        }
      }
    }
    .header-right {
      display: inline-block;
      width: 200px;
      height: 80px;
      line-height: 80px;
      background-color: $black;
      font-size: 0.75rem;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

main {
  background-color: #f4f4f4;
  .section-title {
    h2 {
      font-size: 2.2rem;
      font-weight: normal;
      letter-spacing: 0.8rem;
      line-height: 1;
      margin-bottom: 8px;
    }
    p {
      font-size: 0.875rem;
      margin-bottom: 24px;
    }
    &::after {
      content: "";
      display: block;
      width: 40px;
      border-bottom: solid 1px rgb(40, 40, 40);
      margin-bottom: 50px;
    }
  }
  .visual-img {
    height: calc(100vh - 80px);
    width: 100vw;
    object-fit: cover;
    margin-bottom: 120px;
  }
  #news {
    @include innerSize;
    margin-bottom: 120px;
    .announce {
      display: flex;
      justify-content: space-between;
      font-size: 0.85rem;
      line-height: 1.5;
      li {
        width: 33%;
        padding: 10px 0 10px 20px;
        border-right: solid 1px $black;
        list-style: none;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: none;
        }
        .item-top {
          margin-bottom: 16px;
          &__tag {
            display: inline-block;
            width: 50px;
            line-height: 20px;
            background-color: $black;
            margin-left: 10px;
            text-align: center;
            font-size: 0.75rem;
            color: #ffffff;
          }
        }
      }
    }
  }
  #about {
    display: flex;
    margin-bottom: 120px;
    .about-img {
      height: 400px;
      width: 55%;
      object-fit: cover;
    }
    .about-text {
      padding: 180px 5% 0 5%;
      p {
        font-size: 0.85rem;
        line-height: 2.2;
      }
    }
  }
  #business {
    @include innerSize;
    margin-bottom: 120px;
    .business-contents {
      display: flex;
      justify-content: space-between;
      padding: 0 10%;
      .business-content {
        width: 46%;
        &--left {
          padding-top: 80px;
        }
        &__item {
          margin-bottom: 50px;
          &:last-child {
            margin-bottom: 0;
          }
          p {
            display: flex;
            font-size: 0.85rem;
            font-weight: bold;
            &::before {
              content: "";
              display: block;
              height: 1px;
              width: 8px;
              background-color: $black;
              margin: 10px 10px 0 0;
            }
          }
          img {
            max-width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }
  #company {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    @include innerSize;
    .company-text {
      width: 55%;
      background-color: #ffffff;
      padding: 100px 8% 100px 6%;
      position: absolute;
      top: 0;
      left: 0;
      &__info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.85rem;
        line-height: 2;
        dt {
          width: 20%;
        }
        dd {
          width: 80%;
        }
      }
    }
    .company-img {
      height: 400px;
      width: 53%;
      object-fit: cover;
      position: absolute;
      top: 115px;
      right: 0;
    }
  }
}

footer {
  @include innerSize;
  .footer-top  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    &__right {
      font-size: 0.875rem;
    }
  }
  .footer-bottom {
    font-size: 0.625rem;
    padding-bottom: 20px;
  }
}

// スマホ
@media screen and (max-width: 900px) {
  header {
    .header-inner {
      .header-left {
        flex-direction: column;
        align-items: flex-start;
        &__title {
          font-size: 1.6rem;
          margin: 8px 0;
        }
      }
      .header-right {
        display: none;
      }
    }
  }

  main {
    .section-title {
      &::after {
        margin-bottom: 30px;
      }
    }
    .visual-img {
      margin-bottom: 80px;
    }
    #news {
      margin-bottom: 80px;
      .announce {
        flex-direction: column;
        li {
          width: 100%;
          border-right: none;
          padding-left: 0;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    #about {
      flex-direction: column;
      align-items: normal;
      margin-bottom: 80px;
      .about-img {
        height: 300px;
        width: 100%;
      }
      .about-text {
        margin-top: 30px;
        padding: 0 15px;
      }
    }
    #business {
      margin-bottom: 80px;
      .business-contents {
        flex-direction: column;
        padding: 0;
        .business-content {
          width: 100%;
          margin: 0;
          text-align: center;
          &--left {
            padding: 0;
            margin-bottom: 30px;
          }
          &__item {
            margin-bottom: 30px;
          }
        }
      }
    }
    #company {
      height: auto;
      flex-direction: column;
      position: static;
      .company-text {
        width: 100%;
        padding: 40px 20px;
        margin-bottom: 20px;
        position: static;
        &__info {
          flex-direction: column;
          dt {
            margin-top: 15px;
            &:first-child {
              margin: 0;
            }
          }
          dd {
            margin-left: 15px;
          }
        }
      }
      .company-img {
        width: 100%;
        position: static;
      }
    }
  }

  footer {
    .footer-top {
      flex-direction: column;
      align-items: flex-start;
      &__left {
        margin-bottom: 10px;
        img {
          width: 80px;
          margin: 8px 0;
        }
      }
    }
  }
}