html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.88rem;
}

.visual-img {
  height: 100vh;
  width: 100vw;
  background: no-repeat center/cover url("https://placehold.jp/1400x800.png");
}
.visual-img__logo {
  float: right;
  margin: 30px 30px 0 0;
}

.main .section-btn {
  padding: 14px 36px;
  border: #333 1px solid;
  display: inline-block;
  color: #333;
  font-size: 0.7rem;
  text-decoration: none;
}
.main .section-btn:hover {
  opacity: 0.75;
}
.main .articles {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 5%;
  text-align: center;
}
.main .articles__title {
  margin-bottom: 20px;
}
.main .articles__text {
  margin-bottom: 40px;
}
.main .articles__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .articles__info .info-block {
  width: 49%;
  position: relative;
}
.main .articles__info .info-block:hover {
  opacity: 0.7;
}
.main .articles__info .info-block__text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  white-space: nowrap;
}
.main .articles__info .info-block__text h3 {
  font-size: 1.25rem;
  margin-bottom: 2px;
}
.main .articles__info .info-block__text p {
  font-size: 0.88rem;
  font-weight: bold;
}
.main .articles__info .info-block__img {
  width: 100%;
}
.main .fashions {
  height: 500px;
  width: 100vw;
  background-image: url("https://placehold.jp/1400x600.png");
  background-position: center;
  margin-bottom: 80px;
  padding-top: 50px;
  text-align: center;
  object-fit: cover;
}
.main .fashions__title {
  margin-bottom: 20px;
}
.main .fashions__text {
  margin-bottom: 30px;
}
.main .catlog-etc-post {
  background-color: #f6f6f6;
  padding: 60px 0;
}
.main .catlog-etc-post .post-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .catlog-etc-post .post-inner__img {
  height: 48%;
  width: 48%;
}
.main .catlog-etc-post .post-inner__text {
  width: 48%;
}
.main .catlog-etc-post .post-inner__text h2 {
  margin-bottom: 40px;
  text-align: center;
}
.main .catlog-etc-post .post-inner__text p {
  margin-bottom: 30px;
  font-size: 0.88rem;
}
.main .catlog-etc-post .post-inner__text p:last-child {
  margin-bottom: 0;
}
.main .catlog-etc-post .post-inner__text--btn {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.footer {
  width: 100vw;
  background-color: #333;
}
.footer .footer-nav {
  height: 360px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 5%;
  display: flex;
  color: #ffffff;
}
.footer .footer-nav__item {
  width: 33.3%;
  line-height: 2;
}
.footer .footer-nav__item--left {
  padding: 60px 0;
}
.footer .footer-nav__item a:hover {
  opacity: 0.8;
}
.footer .footer-nav__item h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.footer .footer-nav__item ul {
  font-size: 0.75rem;
}
.footer .footer-nav__item ul li {
  list-style: inside "- ";
}
.footer .footer-nav__item p {
  font-size: 0.75rem;
}
.footer .copyright {
  background-color: #ffffff;
  padding: 30px 0;
  text-align: center;
}
.footer .copyright p {
  font-size: 0.75rem;
}

@media screen and (max-width: 896px) {
  .main .articles__info {
    flex-direction: column;
  }
  .main .articles__info .info-block {
    width: 100%;
  }
  .main .articles__info .info-block:last-child {
    margin: 30px 0 0 0;
  }
  .main .catlog-etc-post {
    padding: 30px 5%;
  }
  .main .catlog-etc-post .post-inner {
    flex-direction: column;
  }
  .main .catlog-etc-post .post-inner__img {
    width: 100%;
    margin-bottom: 60px;
  }
  .main .catlog-etc-post .post-inner__img:last-child {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .main .catlog-etc-post .post-inner__text {
    width: 100%;
  }
  .footer .footer-nav {
    height: auto;
    padding: 30px 5%;
    flex-direction: column;
  }
  .footer .footer-nav__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .footer-nav__item--left {
    text-align: center;
    padding: 0;
  }
}