// 命名規則：BEM
@charset 'utf-8';

$main-color: #333;
$white-text: #ffffff;
$inner-width: 1200px;

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $main-color;
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.88rem;
}

.visual-img {
  height: 100vh;
  width: 100vw;
  background: no-repeat center/cover url("https://placehold.jp/1400x800.png");
  &__logo {
    float: right;
    margin: 30px 30px 0 0;
  }
}

.main {
  .section-btn {
    padding: 14px 36px;
    border: $main-color 1px solid;
    display: inline-block;
    color: $main-color;
    font-size: 0.7rem;
    text-decoration: none;
    &:hover {
      opacity: 0.75;
    }
  }
  .articles {
    max-width: $inner-width;
    margin: 0 auto;
    padding: 80px 5%;
    text-align: center;
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 40px;
    }
    &__info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .info-block {
        width: 49%;
        position: relative;
        &:hover {
          opacity: 0.7;
        }
        &__text {
          background-color: rgba(0, 0, 0, 0.5);
          padding: 15px 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white-text;
          white-space: nowrap;
          h3 {
            font-size: 1.25rem;
            margin-bottom: 2px;
          }
          p {
            font-size: 0.88rem;
            font-weight: bold;
          }
        }
        &__img {
          width: 100%;
        }
      }
    }
  }
  .fashions {
    height: 500px;
    width: 100vw;
    background-image: url("https://placehold.jp/1400x600.png");
    background-position: center;
    margin-bottom: 80px;
    padding-top: 50px;
    text-align: center;
    object-fit: cover;
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 30px;
    }
  }
  .catalog-etc {
    background-color: #f6f6f6;
    &__inner {
      max-width: $inner-width;
      margin: 0 auto;
      padding: 60px 5%;
      .catlog-etc-post {
        margin-bottom: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
        &__img {
          height: 48%;
          width: 48%;
        }
        &__text {
          width: 48%;
          h2 {
            margin-bottom: 40px;
            text-align: center;
          }
          p {
            margin-bottom: 30px;
            font-size: 0.88rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          &__btn-block {
            width: 100%;
            text-align: center;
            padding-top: 30px;
          }
        }
      }
    }
  }
}

.footer {
  width: 100vw;
  background-color: $main-color;
  .footer-nav {
    height: 360px;
    max-width: $inner-width;
    margin: 0 auto;
    padding: 100px 5%;
    display: flex;
    color: $white-text;
    &__item {
      width: 33.3%;
      line-height: 2;
      &--left {
        padding: 60px 0;
      }
      a {
        &:hover {
          opacity: 0.8;
        }
      }
      h3 {
        font-size: 1rem;
        margin-bottom: 10px;
      }
      ul {
        font-size: 0.75rem;
        li {
          list-style: inside '- ';
        }
      }
      p {
        font-size: 0.75rem;
      }
    }
  }
  .copyright {
    background-color: #ffffff;
    padding: 30px 0;
    text-align: center;
    p {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 896px) {
  .main {
    .articles {
      &__info {
        flex-direction: column;
        .info-block {
          width: 100%;
          &:last-child {
            margin: 30px 0 0 0;
          }
        }
      }
    }
    .catalog-etc {
      &__inner {
        padding: 30px 5%;
        .catlog-etc-post {
          margin-bottom: 0;
          flex-direction: column;
          &__img {
            width: 100%;
            &:last-child {
              margin-top: 60px;
            }
          }
          &__text {
            width: 100%;
            h2 {
              margin-top: 60px;
            }
          }
        }
      }
    }
  }
  .footer {
    .footer-nav {
      height: auto;
      padding: 30px 5% 60px;
      flex-direction: column;
      &__item {
        width: 100%;
        margin-top: 30px;
        &--left {
          text-align: center;
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}