html {
  font-size: 100%;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif JP", serif;
  flex-direction: row-reverse;
}

span, p, a, p, div, h1, h2, h3, h4, h5, dt, dd {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#header {
  height: 100vh;
  width: 100%;
  background-image: url("https://placehold.jp/1920x1280.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 80px;
  position: relative;
}
#header nav {
  display: flex;
}
#header nav .header-title {
  margin-left: 60px;
  line-height: 1px;
}
#header nav .header-title a {
  display: block;
}
#header nav ul {
  display: flex;
  list-style: none;
}
#header nav ul li {
  margin-left: 25px;
}
#header nav ul li:last-child {
  margin-left: 0;
}
#header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
#header .store-btn {
  padding: 8px;
  background-color: rgb(65, 65, 65);
  position: absolute;
  bottom: 30px;
  left: 40px;
  text-align: center;
}
#header .store-btn a {
  display: inline-block;
  padding: 30px 18px;
  border: #ffffff 1px solid;
  color: #ffffff;
  text-decoration: none;
}
#header .store-btn a:hover {
  opacity: 0.7;
}

#main {
  background-color: rgb(230, 227, 219);
  padding-top: 180px;
}
#main .wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px 180px 20px;
}
#main .wrapper .section-title {
  line-height: 1;
  font-weight: normal;
}
#main .wrapper .section-title .en {
  font-size: 0.875rem;
}
#main .wrapper .section-title .ja {
  font-size: 2rem;
  letter-spacing: 3px;
}
#main .wrapper .section-title__news {
  margin-left: 20px;
  margin-left: 100px;
}
#main .wrapper .section-title__news .en {
  display: block;
  margin-left: 15px;
}
#main .wrapper .section-title__product {
  margin-left: 20px;
}
#main .wrapper .section-title__product--left {
  margin-left: 0;
  margin-right: 20px;
}
#main #info {
  display: flex;
}
#main #info .info-lists {
  display: flex;
  margin-top: 70px;
}
#main #info .info-lists dt {
  padding: 15px 30px 15px 5px;
  border-right: 1px solid #000;
  font-size: 0.75rem;
}
#main #info .info-lists dd {
  padding: 15px 0 15px 30px;
}
#main #info .info-lists dd:last-child {
  border-left: 1px solid #000;
}
#main .item {
  display: flex;
}
#main .item--reverse {
  flex-direction: row;
}
#main .item .item-img {
  width: 65%;
  max-width: 600px;
  position: relative;
}
#main .item .item-img__img {
  margin-top: 100px;
}
#main .item .item-img__text {
  width: 58%;
  background-color: rgba(255, 240, 20, 0.6);
  padding: 50px 0;
  text-align: center;
  color: #ffffff;
  writing-mode: horizontal-tb;
  position: absolute;
  bottom: -20px;
  left: -20px;
}
#main .item .item-img__text--red {
  background-color: rgba(150, 0, 0, 0.6);
  right: -20px;
}
#main #map {
  height: 450px;
  width: 100vw;
}
#main #map iframe {
  height: 100%;
  width: 100%;
}

#footer {
  padding: 80px 80px 30px 30px;
  background-color: #000;
  font-size: 0.875rem;
  color: #ffffff;
}
#footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
#footer .footer-nav .footer-right__title {
  margin-left: 60px;
  line-height: 1px;
}
#footer .footer-nav .footer-right__title a {
  display: block;
}
#footer .footer-nav .footer-right__text {
  margin-left: 60px;
  line-height: 2;
}
#footer .footer-nav .footer-right__text a {
  text-decoration: none;
  color: #ffffff;
}
#footer .footer-nav .footer-right__lists li {
  margin-left: 25px;
  list-style: none;
}
#footer .footer-nav .footer-right__lists li a {
  color: #ffffff;
  text-decoration: none;
}
#footer .footer-nav .footer-left a {
  color: #ffffff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -moz-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
  font-size: 0.625rem;
}

@media screen and (max-width: 768px) {
  #header {
    background-image: url("https://placehold.jp/640x760.png");
    padding: 20px;
  }
  #header .store-btn {
    bottom: 20px;
    left: 20px;
  }
  #main {
    padding-top: 80px;
  }
  #main .wrapper {
    max-width: 100%;
    padding: 0 20px 100px 20px;
  }
  #main .wrapper .section-title {
    margin-left: 30px;
  }
  #main .wrapper .section-title__news .ja {
    font-size: 1.8rem;
  }
  #main .wrapper .section-title__product {
    margin-left: 10px;
  }
  #main .wrapper .section-title__product--left {
    margin-left: 0;
    margin-right: 10px;
  }
  #main .wrapper .section-title__product .en {
    display: none;
  }
  #main .wrapper .section-title__product .ja {
    font-size: 1.5rem;
  }
  #main #info .info-lists {
    margin-top: 20px;
  }
  #main #info .info-lists dt {
    padding: 15px 12px 15px 5px;
  }
  #main #info .info-lists dt:nth-of-type(n+4) {
    display: none;
  }
  #main #info .info-lists dd {
    padding: 15px 0 15px 15px;
  }
  #main #info .info-lists dd:nth-of-type(n+4) {
    display: none;
  }
  #main #info .info-lists dd:nth-of-type(3) {
    border-left: 1px solid #000;
  }
  #main .item .item-img {
    width: 90%;
    max-width: 640px;
  }
  #main .item .item-img__img {
    margin-top: 70px;
  }
  #main .item .item-img__text {
    padding: 25px 0;
    font-size: 0.875rem;
  }
  #footer {
    padding: 40px 20px 30px;
  }
  #footer .footer-nav .footer-right__title {
    margin-left: 20px;
  }
  #footer .footer-nav .footer-right__text {
    margin-left: 25px;
  }
  #footer .footer-nav .footer-right__lists li {
    margin-left: 10px;
  }
  #footer .footer-nav .footer-right__lists li a {
    font-size: 0.875rem;
  }
}