@charset "UTF-8";
html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
  flex-direction: row-reverse;
}

span, p, a, p, div, h1, h2, h3, h4, h5, time {
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#header {
  height: 100vh;
  background: center url("https://placehold.jp/1450x800.png");
  position: relative;
}
#header nav {
  display: flex;
  position: absolute;
  top: 60px;
  right: 70px;
}
#header nav ul {
  display: flex;
  list-style: none;
}
#header nav ul li {
  margin-left: 25px;
}
#header nav ul li:last-child {
  margin-left: 0;
}
#header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
#header nav h1 {
  margin-left: 45px;
}
#header nav h1 a {
  font-size: 2.6rem;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 12px;
}
#header .store-btn {
  height: 250px;
  width: 80px;
  background-color: rgb(65, 65, 65);
  position: absolute;
  bottom: 30px;
  left: 40px;
  text-align: center;
  padding-right: 10px;
}
#header .store-btn a {
  display: inline-block;
  height: 230px;
  width: 60px;
  line-height: 60px;
  border: #ffffff 1px solid;
  color: #ffffff;
  text-decoration: none;
}

#main {
  background-color: rgb(230, 227, 219);
  padding-top: 180px;
}
#main .wrapper {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px 180px 20px;
}
#main .wrapper .section-title {
  display: flex;
  margin-left: 20px;
  margin-left: 100px;
  flex-direction: column;
  align-items: flex-start;
}
#main .wrapper .section-title span {
  line-height: 1;
  font-size: 0.8rem;
  font-weight: normal;
}
#main .wrapper .section-title span:first-child {
  margin-left: 10px;
}
#main .wrapper .section-title span:last-child {
  margin-bottom: 30px;
  font-size: 2rem;
  letter-spacing: 3px;
}
#main .wrapper .section-title__product {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  margin-right: 0;
}
#main .wrapper .section-title__product span:first-child {
  margin-left: 0;
}
#main .wrapper .section-title__product--science {
  margin-left: 0;
  margin-right: 20px;
}
#main #info {
  display: flex;
}
#main #info .info-lists {
  display: flex;
  margin-top: 70px;
}
#main #info .info-lists .info-list {
  display: flex;
  padding: 15px 30px;
  border-right: 1px solid #000;
}
#main #info .info-lists .info-list:last-child {
  border-left: 1px solid #000;
}
#main #info .info-lists .info-list__time {
  font-size: 0.75rem;
  margin-left: 5px;
}
#main .item {
  display: flex;
}
#main .item--reverse {
  flex-direction: row;
}
#main .item .item-img {
  width: 65%;
  max-width: 600px;
  position: relative;
}
#main .item .item-img__img {
  margin-top: 100px;
}
#main .item .item-img__text {
  width: 380px;
  background-color: rgba(255, 240, 20, 0.65);
  padding: 45px 0;
  text-align: center;
  color: #ffffff;
  writing-mode: horizontal-tb;
  position: absolute;
  bottom: -20px;
  left: -20px;
}
#main .item .item-img__text--red {
  background-color: rgba(150, 0, 0, 0.65);
  right: -20px;
}
#main #map {
  height: 450px;
  width: 100vw;
}
#main #map iframe {
  height: 100%;
  width: 100%;
}

#footer {
  padding: 80px 80px 30px 30px;
  background-color: #000;
  font-size: 0.9rem;
  color: #ffffff;
}
#footer .footer-nav {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
#footer .footer-nav .footer-left a {
  margin-bottom: 3px;
  color: #ffffff;
  text-decoration: none;
}
#footer .footer-nav .footer-left a:last-child::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 8px;
}
#footer .footer-nav .footer-right__title {
  margin-left: 50px;
  line-height: 1;
  font-size: 2.6rem;
  color: #ffffff;
  letter-spacing: 12px;
}
#footer .footer-nav .footer-right__text {
  margin-left: 60px;
}
#footer .footer-nav .footer-right__text p {
  margin-left: 8px;
}
#footer .footer-nav .footer-right__text p:last-child {
  margin-left: 0;
}
#footer .footer-nav .footer-right__lists li {
  margin-left: 30px;
  list-style: none;
}
#footer .footer-nav .footer-right__lists li a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  -ms-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  font-size: 0.65rem;
}

@media screen and (max-width: 768px) {
  #header nav {
    top: 20px;
    right: 20px;
  }
  #header .store-btn {
    bottom: 20px;
    left: 20px;
  }
  #main .wrapper {
    padding: 0 20px 100px 20px;
  }
  #main .wrapper .section-title {
    margin-left: 30px;
  }
  #main .wrapper .section-title span:last-child {
    font-size: 1.8rem;
  }
  #main .wrapper .section-title__product {
    margin-left: 10px;
  }
  #main .wrapper .section-title__product span:first-child {
    display: none;
  }
  #main .wrapper .section-title__product span:last-child {
    font-size: 1.5rem;
  }
  #main .wrapper .section-title__product--science {
    margin-left: 0;
    margin-right: 10px;
  }
  #main #info .info-lists {
    margin-top: 20px;
  }
  #main #info .info-lists .info-list {
    padding: 10px;
  }
  #main #info .info-lists .info-list:nth-child(3) {
    border-left: 1px solid #000;
  }
  #main #info .info-lists .info-list:nth-child(n+4) {
    display: none;
  }
  #main .item .item-img {
    width: 90%;
    max-width: 640px;
  }
  #main .item .item-img__img {
    margin-top: 65px;
  }
  #main .item .item-img__text {
    padding: 25px 0;
    font-size: 0.875rem;
  }
  #footer {
    padding: 40px 20px 30px;
  }
  #footer .footer-nav .footer-right__title {
    margin-left: 20px;
  }
  #footer .footer-nav .footer-right__text {
    margin-left: 20px;
  }
  #footer .footer-nav .footer-right__lists li {
    margin-left: 10px;
  }
  #footer .footer-nav .footer-right__lists li a {
    font-size: 0.9rem;
  }
}