// 命名規則：BEM
@charset 'utf-8';
@import './color';

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div, h1, h2, h3, h4, h5, p, span {
  color: $main-black;
}

.header1 {
  width: 100vw;
  &__inner {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    &__logo {
      padding: 10px 0;
      line-height: 1px;
      a {
        display: block;
        img {
          max-width: 100%;
        }
      }
    }
    &__nav {
      display: flex;
      &__contents {
        display: block;
        padding-right: 26px;
        a {
          font-size: 14px;
          color: $main-black;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@mixin SplitTheme {
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
}
@mixin ThemeTitle() {
  display: inline-block;
  border-bottom: $main-black solid 1px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.main1 {
  .main-img {
    height: 600px;
    width: 100vw;
    max-width: 1920px;
    object-fit: cover;
    display: block;
    margin-bottom: 80px;
  }
  .about-contents {
    @include SplitTheme();
    text-align: center;
    a {
      @include ThemeTitle();
    }
    &__profile {
      display: flex;
      justify-content: center;
      &__img-block {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-right: 30px;
      }
      &__text-block {
        text-align: left;
        &__name {
          font-size: 1rem;
          font-weight: bold;
          margin: 10px 0;
        }
        &__text {
          font-size: 14px;
        }
      }
    }
  }
  .article-contents {
    @include SplitTheme();
    text-align: center;
    a {
      @include ThemeTitle();
    }
    &__lists {
      display: flex;
      justify-content: space-between;
      &__list {
        width: 32%;
        img {
          width: 100%;
        }
        &__title {
          font-size: 1rem;
          margin: 10px 0;
        }
        &__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-contents {
    &__profile {
      flex-direction: column;
      align-items: center;
    }
  }
  .article-contents {
    &__lists {
      flex-direction: column;
      &__list#media-w {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}

.footer1 {
  width: 100vw;
  text-align: center;
  .Copyright {
    font-size: 0.5rem;
    margin: 10px 0;
  }
}