@charset 'utf-8';

html {
  font-size: 100%;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  flex-direction: row-reverse;
}

span, p, a, p, div,h1, h2, h3, h4, h5, dt, dd {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

@mixin siteTitle {
  margin-left: 60px;
  line-height: 1px;
  a {
    display: block;
  }
}

#header {
  height: 100vh;
  width: 100%;
  background-image: url("https://placehold.jp/1920x1280.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 80px;
  position: relative;
  nav {
    display: flex;
    .header-title {
      @include siteTitle;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        margin-left: 25px;
        &:last-child {
          margin-left: 0;
        }
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  .store-btn {
    padding: 8px;
    background-color: rgb(65, 65, 65);
    position: absolute;
    bottom: 30px;
    left: 40px;
    text-align: center;
    a {
      display: inline-block;
      padding: 30px 18px;
      border: #ffffff 1px solid;
      color: #ffffff;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

#main {
  background-color: rgb(230, 227, 219);
  padding-top: 180px;
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px 180px 20px;
    .section-title {
      line-height: 1;
      font-weight: normal;
      .en {
        font-size: 0.875rem;
      }
      .ja {
        font-size: 2rem;
        letter-spacing: 3px;
      }
      &__news {
        margin-left: 20px;
        margin-left: 100px;
        .en {
          display: block;
          margin-left: 15px;
        }
      }
      &__product {
        // // flex-direction: row-reverse;
        // justify-content: flex-end;
        // align-items: center;
        margin-left: 20px;
        &--left {
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }
  }
  #info {
    display: flex;
    .info-lists {
      display: flex;
      margin-top: 70px;
      dt {
        padding: 15px 30px 15px 5px;
        border-right: 1px solid #000;
        font-size: 0.75rem;
      }
      dd {
        padding: 15px 0 15px 30px;
        &:last-child {
          border-left: 1px solid #000;
        }
      }
    }
  }
  .item {
    display: flex;
    &--reverse {
      flex-direction: row;
    }
    .item-img {
      width: 65%;
      max-width: 600px;
      position: relative;
      &__img {
        margin-top: 100px;
      }
      &__text {
        width: 58%;
        background-color: rgba(255, 240, 20, 0.6);
        padding: 50px 0;
        text-align: center;
        color: #ffffff;
        writing-mode: horizontal-tb;
        position: absolute;
        bottom: -20px;
        left: -20px;
        &--red {
          background-color: rgba(150, 0, 0, 0.6);
          right: -20px;
        }
      }
    }
  }
  #map {
    height: 450px;
    width: 100vw;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

#footer {
  padding: 80px 80px 30px 30px;
  background-color: #000;
  font-size: 0.875rem;
  color: #ffffff;
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    .footer-right {
      &__title {
        @include siteTitle;
      }
      &__text {
        margin-left: 60px;
        line-height: 2;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
      &__lists {
        li {
          margin-left: 25px;
          list-style: none;
          a {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
    .footer-left {
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .copyright {
    text-align: center;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 768px) {
  #header {
    background-image: url("https://placehold.jp/640x760.png");
    padding: 20px;
    .store-btn {
      bottom: 20px;
      left: 20px;
    }
  }

  #main {
    padding-top: 80px;
    .wrapper {
      max-width: 100%;
      padding: 0 20px 100px 20px;
      .section-title {
        margin-left: 30px;
        &__news {
          .ja {
            font-size: 1.8rem;
          }
        }
        &__product {
          margin-left: 10px;
          &--left {
            margin-left: 0;
            margin-right: 10px;
          }
          .en {
            display: none;
          }
          .ja {
            font-size: 1.5rem;
          }
        }
      }
    }
    #info {
      .info-lists {
        margin-top: 20px;
        dt {
          padding: 15px 12px 15px 5px;
          &:nth-of-type(n+4) {
            display: none;
          }
        }
        dd {
          padding: 15px 0 15px 15px;
          &:nth-of-type(n+4) {
            display: none;
          }
          &:nth-of-type(3) {
            border-left: 1px solid #000;
          }
        }
      }
    }
    .item {
      .item-img {
        width: 90%;
        max-width: 640px;
        &__img {
          margin-top: 70px;
        }
        &__text {
          padding: 25px 0;
          font-size: 0.875rem;
        }
      }
    }
  }

  #footer {
    padding: 40px 20px 30px;
    .footer-nav {
      .footer-right {
        &__title {
          margin-left: 20px;
        }
        &__text {
          margin-left: 25px;
        }
        &__lists {
          li {
            margin-left: 10px;
            a {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}