html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
}

header {
  position: relative;
}
header .header-inner {
  height: 80px;
  margin: 0 0 0 auto;
  padding-left: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .header-inner .header-left {
  margin: 0 auto 0 max(50vw - 600px, 0px);
  display: flex;
  align-items: center;
}
header .header-inner .header-left__title {
  margin-right: 40px;
  font-size: 2.2rem;
  color: black;
  letter-spacing: 0.6rem;
  line-height: 100%;
  text-decoration: none;
}
header .header-inner .header-left__nav ul {
  display: flex;
}
header .header-inner .header-left__nav ul li {
  margin-right: 20px;
  list-style: none;
}
header .header-inner .header-left__nav ul li:last-child {
  margin-right: 0;
}
header .header-inner .header-left__nav ul li a {
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}
header .header-inner .header-right a {
  display: block;
  background-color: black;
  padding: 30px 62px;
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: none;
}
header .header-inner .header-right a:hover {
  opacity: 0.8;
}

main {
  background-color: #f4f4f4;
}
main .section-title h1 {
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  line-height: 2.2rem;
  margin-bottom: 8px;
}
main .section-title p {
  font-size: 0.8rem;
  margin-bottom: 30px;
}
main .section-title::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: solid 1px rgb(40, 40, 40);
  margin-bottom: 60px;
}
main .visual-img {
  height: calc(100vh - 80px);
  width: 100vw;
  object-fit: cover;
}
main .news {
  max-width: 1000px;
  margin: 120px auto;
  padding: 0 15px;
}
main .news .announce {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  line-height: 1.5;
}
main .news .announce__item {
  width: 33%;
  padding: 20px 0 20px 20px;
  border-right: solid 1px rgb(40, 40, 40);
}
main .news .announce__item:first-child {
  padding-left: 0;
}
main .news .announce__item:last-child {
  border: none;
}
main .news .announce__item .item-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
main .news .announce__item .item-top__tag {
  width: 55px;
  background-color: rgb(40, 40, 40);
  margin-left: 20px;
  text-align: center;
  color: #ffffff;
}
main .about {
  display: flex;
  align-items: flex-end;
  margin-bottom: 120px;
}
main .about__img {
  height: 420px;
  width: 55%;
  object-fit: cover;
}
main .about__content {
  padding: 0 5%;
}
main .about__content p {
  font-size: 0.85rem;
  line-height: 2;
}
main .business {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
main .business .business-contents {
  display: flex;
  justify-content: center;
}
main .business .business-contents .business-content {
  margin: 0 30px;
}
main .business .business-contents .business-content--left {
  padding-top: 80px;
}
main .business .business-contents .business-content__item {
  margin-bottom: 50px;
}
main .business .business-contents .business-content__item p {
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;
}
main .business .business-contents .business-content__item p::before {
  content: "";
  display: block;
  height: 1px;
  width: 8px;
  background-color: rgb(40, 40, 40);
  margin: 10px 10px 0 0;
}
main .business .business-contents .business-content__item img {
  margin-top: 10px;
}
main .company {
  display: flex;
  justify-content: center;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px 120px 15px;
}
main .company__text {
  max-width: 47%;
}
main .company__text .company-inner {
  width: 90%;
  padding: 100px 15%;
  background-color: #ffffff;
  box-sizing: content-box;
}
main .company__text .company-inner__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.85rem;
  line-height: 2;
}
main .company__text .company-inner__info dt {
  width: 20%;
}
main .company__text .company-inner__info dd {
  width: 80%;
}
main .company__img {
  height: 400px;
  width: 53%;
  margin-top: 100px;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
footer .footer-top__left h1 {
  font-size: 2.2rem;
  font-weight: lighter;
  letter-spacing: 0.6rem;
}
footer .footer-top__right {
  font-size: 0.85rem;
}
footer .footer-bottom {
  font-size: 0.65rem;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  header .header-inner .header-left {
    flex-direction: column;
    align-items: flex-start;
  }
  header .header-inner .header-left__title {
    font-size: 1.6rem;
  }
  header .header-inner .header-right {
    display: none;
  }
  main .section-title::after {
    margin-bottom: 30px;
  }
  main .news {
    margin: 80px 0;
  }
  main .news .announce {
    flex-direction: column;
  }
  main .news .announce__item {
    width: 100%;
    border-right: none;
    padding-left: 0;
  }
  main .about {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 80px;
  }
  main .about__img {
    height: 300px;
    width: 100%;
  }
  main .about__content {
    margin-top: 30px;
    padding: 0 15px;
  }
  main .business {
    margin-bottom: 60px;
  }
  main .business .business-contents {
    flex-direction: column;
  }
  main .business .business-contents .business-content {
    margin: 0;
  }
  main .business .business-contents .business-content--left {
    padding: 0;
  }
  main .business .business-contents .business-content__item {
    margin-bottom: 20px;
  }
  main .business .business-contents .business-content__item img {
    width: 100%;
  }
  main .company {
    flex-direction: column;
    padding-bottom: 0;
  }
  main .company__text {
    max-width: 100%;
  }
  main .company__text .company-inner {
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
  }
  main .company__text .company-inner__info {
    flex-direction: column;
  }
  main .company__text .company-inner__info dt {
    margin-top: 15px;
  }
  main .company__text .company-inner__info dt:first-child {
    margin: 0;
  }
  main .company__text .company-inner__info dd {
    margin-left: 15px;
  }
  main .company__img {
    width: 100%;
    margin-top: 15px;
  }
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-top__left h1 {
    font-size: 1.6rem;
  }
}